<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new vessel have been created.</h1>
    <p>
    Client IP: <%= @ip %>
    Vessel ID: <%= @vessel.id %>
    Vessel Name: <%= @vessel.title %>
    Vessel price: <%= @vessel.daily_price %>
    Vessel description: <%= @vessel.description %>
    </p>
  </body>
</html>
