<!DOCTYPE html>
<html>
<head>
  <title>Testapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='top'>
  Testapp - User
</div>
<div class="nav">
  <% if logged_in? %>
    <p>Welcome <%= current_user.name %></p>
    <% if current_user.admin? %>
      <%= link_to "Go to admin", admin_vessels_path %>
    <% end %>
    <%= link_to "Log out", logout_path, method: :delete %>
  <% elsif !current_page?(controller: 'sessions', action: 'create') %>
    <%= link_to "Log in", login_path, method: :get %>
  <% end %>
</div>
<%= yield %>
<%= debug(params) if Rails.env.development? %>

</body>
</html>
